<%- include('../partials/header') %>

<div class="profile-page">
    <div class="profile-page--banner"></div>
    
    <% let { avatarUrl, name } = user %>
  <div class="profile-page__user">
    <img class='profile-page__user--avatar' 
        src=<%= avatarUrl %> alt=<%= name %>
    >
  <h2><%= user.name %></h2>
</div>

<div>
    
    <div class="profile-page__friends">
        <h3 class="borderb"><%= user.name %>'s Friends</h3>
        <!-- loop over the array of friends -->
        <ul class='profile-page__friends--list'>
        <% friendsList.forEach(user => { %>
          <% let { avatarUrl, name } = user %> 
          <li class="friend">
            <img src=<%= avatarUrl %> alt=<%= name %>> 
            <p><%= name %></p>
          </li>
          <% }) %>
      <!-- each friend's image and name should be visible. -->
    </ul>
    </div>
  </div>
<%- include('../partials/footer') %>